@import "settings";
@import "mixins";

* {
  outline: none !important;
  box-sizing: border-box;
}
#root{
  font-family: 'Roboto', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #d7d7d7;
}